@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@utility ta-* {
  transition-duration: calc(--value(integer, [integer]) * 0.925ms);
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter;
  transition-timing-function: ease;

  @media (prefers-reduced-motion: reduced) {
    transition-duration: calc(--value(integer, [integer]) * 0.675ms);
  }
}

*:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}

:focus:not(:focus-visible) {
  outline: none;
}

@theme {
  --font-sans: 'Satoshi', Roboto, 'Segoe UI', 'sans-serif';
  --color-background: var(--background);
  --color-foreground: var(--color-gray-950);
  --color-primary: #2776ec;
  --color-primary-hover: #274fec;
}

:root {
  --background: #f1f6fe;
}

.dark {
  --background: #040c18;
}

@layer base {
  *,
  ::after,
  ::before {
    @apply border-foreground/50 ta-150;
    scrollbar-width: thin;
  }

  body {
    @apply bg-background font-sans text-foreground;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-style: normal;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: gray-scale;
  }

  h1 {
    @apply mb-2 text-3xl leading-tight font-extrabold sm:mb-4 sm:text-4xl;
  }

  h2 {
    @apply text-2xl leading-snug font-bold sm:text-3xl;
  }

  h3 {
    @apply text-xl leading-normal font-semibold sm:text-2xl;
  }

  a {
    @apply font-medium text-gray-700 italic hover:not-italic hover:underline;
  }

  h1,
  h2,
  h3 {
    @apply text-gray-800 dark:text-gray-200;
  }
}

@utility btn {
  @apply flex w-full cursor-pointer items-center justify-center gap-2 rounded-xl bg-primary px-4 py-3 text-sm font-medium text-gray-50;
  box-shadow:
    hsla(0, 0%, 100%, 0.1) 0 0 0 1px inset,
    hsla(0, 0%, 100%, 0.15) 0 1px 0 0 inset,
    hsla(0, 0%, 100%, 0.05) 0 0 25px 1px inset,
    0 0 0 1px #27272a,
    0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -4px rgba(0, 0, 0, 0.05);
}
