@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@utility ta-* {
  transition-duration: calc(--value(integer, [integer]) * 0.925ms);
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter;
  transition-timing-function: ease;

  @media (prefers-reduced-motion: reduced) {
    transition-duration: calc(--value(integer, [integer]) * 0.675ms);
  }
}

*:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}

:focus:not(:focus-visible) {
  outline: none;
}

@theme {
  --font-sans: 'Inter', Roboto, 'Segoe UI', 'sans-serif';
  --color-background: var(--color-zinc-100);
  --color-foreground: var(--color-gray-950);
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
}

@layer base {
  *,
  ::after,
  ::before {
    @apply border-foreground/50 ta-150;
    scrollbar-width: thin;
  }

  body {
    @apply bg-background font-sans text-foreground;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-style: normal;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-feature-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: gray-scale;
  }

  h1 {
    @apply mb-2 text-3xl leading-tight font-extrabold sm:mb-4 sm:text-4xl;
  }

  h2 {
    @apply text-2xl leading-snug font-bold sm:text-3xl;
  }

  h3 {
    @apply text-xl leading-normal font-semibold sm:text-2xl;
  }

  a {
    @apply text-gray-600 italic hover:not-italic hover:underline;
  }

  h1,
  h2,
  h3 {
    @apply text-gray-800 dark:text-gray-200;
  }
}

@utility btn {
  @apply inline-flex cursor-pointer items-center gap-1 rounded-md bg-primary px-4 py-2 font-medium text-gray-50 ta-200 hover:bg-primary-hover focus:ring-2 focus:ring-primary-hover focus:ring-offset-2;
}
